<button onclick="window.location.href='@Url.Action("Index", "Events")';">
    Evenementen Beheren
</button>
<br />
<br />

<button onclick="window.location.href='@Url.Action("Index", "Organisors")';">
    Organisatoren Beheren
</button>
<br />
<br />

<button onclick="window.location.href='@Url.Action("Index", "Cashiers")';">
    Kassamedewerkers Beheren
</button>
<br />
<br />

<button onclick="window.location.href='@Url.Action("Index", "Categories")';">
    Categoriën Beheren
</button>
<br />
<br />

<button onclick="window.location.href='@Url.Action("Index", "Participants")';">
    Deelnemers Beheren
</button>
<br />
<br />

<button onclick="window.location.href='@Url.Action("Tickets", "Tickets")';">
    Tickets Beheren
</button>
