@model IEnumerable<EventPlannerApp.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Aankomende Evenementen</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>
                    <img src="@Html.Raw(Url.Content(item.ImageUrl))" alt="Afbeelding niet gevonden" style="width:200px; height:auto;" />
                </td>
                <td>
                    <a href="@Url.Action("EventData", "Home", new { id = item.Id })" class="btn btn-info">Meer informatie</a>
                </td>
            </tr>
        }
    </tbody>
</table>
